# Arquivos de compilação
bin/
obj/
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.log
*.sln

# Arquivos específicos do Visual Studio
.vs/
.vscode/

# Arquivos específicos do usuário
*.user
*.suo

# Arquivos de configuração específicos do projeto
*.vsconfig

# Outros
.DS_Store
Thumbs.db
